.th,
.td,
.text-center,
.label,
.p,
.text-center {
  color: white;
}
.btn {
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(26, 115, 232);
  color: white;
  cursor: pointer;
  float: right;
  font-size: 0.875em;
  width: 100%;
  margin: 0;
  padding: 8px 16px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
}
.btn:hover {
  background-color: rgb(25, 103, 210);
}
.slash {
  font-size: 40px;
}
